<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>
<html>
  <h1>Welcome <%=username%></h1>
  <button><a href="/logout">logout</a></button>
  
    <img src="/Uplode/<%=image%>" alt="image" width="300" height="300"></html>

  <a href="/uplode.html"><button>Upload Pic</button></a>
</body>
</html>